// Шрифты
$title-font: 'Epilogue', sans-serif;
$text-font: 'Open Sans', sans-serif;

// Цвета
$accent-color: #c774ee;
$title-color: #111563;
$text-color: #63718e;

// Тени
$primary-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
