.calculator {
    padding-top: 24px;
    padding-bottom: 42px;
}

.title-second.title {
    text-align: center;
    margin-bottom: 10px;
}

.calculator-text.text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 40px;
}
.calculator-form {
    position: relative;
}

// .calculator-form-colors {
//     width: 100%;
//     padding-top: 12px;
//     padding-bottom: 18px;
//     padding-left: 20px;
//     padding-right: 19px;
//     background: #f9fafc;
//     box-shadow: 0px 1px 3px rgba(5, 41, 83, 0.14);
//     border-radius: 10px;
//     border: none;
//     opacity: 0;
//     visibility: hidden;
//     &:focus {
//         border: 1px solid #c774ee;
//         outline: none;
//         visibility: hidden;
//     }

//     // &:hover {
//     //     box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.05);
//     // }
//     &:active {
//         visibility: hidden;
//     }
// }

// .select-color {
//     width: 290px;
// }

.select.is-active .select-body {
    position: absolute;
    visibility: visible;
    width: 100%;
    transition: 200ms;
}

.select-header {
    cursor: pointer;
    display: flex;
    padding-top: 12px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 19px;
    background: #f9fafc;
    box-shadow: 0px 1px 3px rgba(5, 41, 83, 0.14);
    border-radius: 10px;
    border: none;
    margin-bottom: 24px;

    &:hover {
        box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.05);
    }
}
.select-header.active {
    border: 1px solid #c774ee;
}
.select-current,
.select-item-text {
    font-size: 15px;
    line-height: 20px;
    font-family: $text-font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: $title-color;
}
.select-item-text {
    margin-bottom: 21px;
}
.select-icon {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    height: 20px;
    margin-left: auto;
    text-align: center;
    width: 20px;
}

.select-body {
    position: absolute;
    z-index: 1;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    visibility: hidden;

    box-shadow: 4px 6px 10px rgba(0, 0, 0, 59);

    background: #f9fafc;
    width: 0px;
}
.select-item {
    cursor: pointer;
}

.select-icon {
    background-image: url('../images/arrow.png');
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.select .select-icon {
    transition: 250ms;
}

.select.is-active .select-icon {
    transform: rotate(180deg);
    transition: 250ms;
}

.calculator-input-number.select-header {
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #111563;

    &:focus {
        border: 1px solid #c774ee;
        outline: none;
    }
}
// ______________________________________________
.calculator-input-control-minus {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    width: 14px;
    height: 14px;
    transform: translate(20px, -57px);
    display: inline-block;
    background-image: url('../images/minus.png');
}
.calculator-input-control-plus {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    width: 14px;
    height: 14px;
    transform: translate(267px, -57px);
    display: inline-block;
    background-image: url('../images/plus.png');
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    background: #0a377e;
    margin: 0;
}

// ___________________________________

.calculator-label-date.text {
    font-size: 15px;
}
.calculator-input-date {
    width: 100%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #111563;
    &:focus {
        border: 1px solid #c774ee;
        outline: none;
    }
}

@media screen and (max-width: 1259px) {
    .calculator-price {
        position: absolute;
        bottom: 0;
        transform: translate(50%, -52px);
    }
}

.calculator-form-btn {
    margin-top: 75px;
}
