.calculator-form-colors {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 19px;
    background: #f9fafc;
    box-shadow: 0px 1px 3px rgba(5, 41, 83, 0.14);
    border-radius: 10px;
    border: none;

    &:focus {
        border: 1px solid #c774ee;
        outline: none;
    }

    &:hover {
        box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.05);
    }
}

.calculator-form-colors option {
    display: none;
}
