.promo {
    padding-top: 50px;
    padding-bottom: 47px;
}
.promo-title {
    font-family: $title-font;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 23px;

    margin-bottom: 20px;
}
